.navbar {
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  position: absolute;
  overflow-x: hidden;
  background-color: #383838;
}

.navbar .pageName {
  color: white;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.container {
  margin-top: 90px;
}

[class*="content"] {
  display: inline-block;
  text-align: center;
  padding: 2em;
}

.fileName {
  font-size: 32px;
}

.date {
  font-size: 20px;
}

.actionButton {
  position: fixed;
  z-index: 4;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.actionButton:active {
  transform: rotate(45deg);
}

.footer {
  width: 100%;
  height: 90px;
  background-color: #383838;
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 1;
}
