.navbar {
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  position: absolute;
  overflow-x: hidden;
  background-color: #383838;
}

.pageName {
  color: white;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.container {
  margin-top: 90px;
}

[class*="content"] {
  display: inline-block;
  text-align: center;
  padding: 2em;
  width: 269px;
  height: 355px;
}

.fileName {
  font-size: 32px;
}

.date {
  font-size: 20px;
}

#actionButton {
  position: fixed;
  z-index: 4;
  bottom: 0;
  right: 0;
  padding:  30px;
}

#actionButtonMenu {
  width: 300px;
  height: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  background-color: #383838;
  visibility: hidden;
}

.actionButtonMenuText {
  display: block;
  color: white;
  margin: 30px;
  font-size: 32px;
  font-weight: 400px;
}

.footer {
  width: 100%;
  height: 90px;
  background-color: #383838;
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 1;
}